<h2 mat-dialog-title>Rezervă Bicicleta</h2>

<mat-dialog-content>
  <!-- Mesaj cât timp se încarcă rezervările -->
   @if (isLoading && !errorMessage) {
    <p>Se verifică disponibilitatea...</p>
   }

  <form [formGroup]="reservationForm" class="reservation-form" [style.display]="isLoading ? 'none' : 'block'">
    
    @if (errorMessage) {
      <div class="error-banner" style="color: red; margin-bottom: 1rem;">
        {{ errorMessage }}
      </div>
    }

    <mat-form-field appearance="fill">
      <mat-label>Alege Data</mat-label>
      <input matInput [matDatepicker]="picker" [matDatepickerFilter]="dateFilter" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> <!-- Desenează iconița mică de calendar în partea dreaptă a input-ului (matSuffix) -->
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ora Start</mat-label>
      <input matInput type="time" formControlName="startTime">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ora Final</mat-label>
      <input matInput type="time" formControlName="endTime">
    </mat-form-field>

    <!-- Zona de erori custom de la validator -->
     @if (reservationForm.hasError('invalidRange') && reservationForm.touched) {
      <mat-error style="display: block; margin-top: -10px; margin-bottom: 10px;">
        Ora de final ar trebui să fie după ora de început!
      </mat-error>
     }

     @if (reservationForm.hasError('overlappingReservation') && reservationForm.touched) {
      <mat-error style="display: block; margin-top: -10px; margin-bottom: 10px;">
        <strong>Bicicleta este deja rezervată</strong> în acest interval! Te rugăm să alegi o altă oră.
      </mat-error>
     }

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="isLoading">Anulează</button>
  <button mat-flat-button color="primary" 
          (click)="onSubmit()" 
          [disabled]="reservationForm.invalid || isLoading">
    Confirmă Rezervarea
  </button>
</mat-dialog-actions>